@model TilausDBApp.Models.Tilaukset

@{
    ViewBag.Title = "Delete";
}

@*<h2>Delete</h2>*@

    <h3>Jos olet varma, että haluat poistaa tämän tilauksen, klikkaa isoa punaista 'Poista'-painiketta.</h3>
<div>
    <h4>Tilaukset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.TilausID)</dt>
        <dd>@Html.DisplayFor(model => model.TilausID)</dd>

        <dt>@Html.DisplayNameFor(model => model.Asiakkaat.Nimi)</dt>
        <dd>@Html.DisplayFor(model => model.Asiakkaat.Nimi)</dd>

        <dt>@Html.DisplayNameFor(model => model.Toimitusosoite)</dt>
        <dd>@Html.DisplayFor(model => model.Toimitusosoite)</dd>

        <dt>@Html.DisplayNameFor(model => model.Tilauspvm)</dt>
        <dd>@Html.DisplayFor(model => model.Tilauspvm)</dd>

        <dt>@Html.DisplayNameFor(model => model.Toimituspvm)</dt>
        <dd>@Html.DisplayFor(model => model.Toimituspvm)</dd>

        <dt>@Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)</dt>
        <dd>@Html.DisplayFor(model => model.Postitoimipaikat.Postitoimipaikka)</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Poista" class="btn btn-primary btn-lg" /> <br /><br />
    @Html.ActionLink("Takaisin tuotteet sivulle", "Index")
</div>
    }
</div>
