@model IEnumerable<TilausDBApp.Models.Tilaukset>

@{
    ViewBag.Title = "Tilaukset";
}

<h2>Tilaukset</h2>

@if (TempData["testmsg"] != null)
{
    @Html.Raw(TempData["testmsg"])
}

<p>
    @Html.ActionLink("Lisää uusi", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.TilausID)</th>
        <th>@Html.DisplayNameFor(model => model.Asiakkaat.Nimi)</th>
        <th>@Html.DisplayNameFor(model => model.Toimitusosoite)</th>
        <th>@Html.DisplayNameFor(model => model.Postitoimipaikat.Postinumero)</th>
        <th>@Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)</th>
        <th>@Html.DisplayNameFor(model => model.Tilauspvm)</th>
        <th>@Html.DisplayNameFor(model => model.Toimituspvm)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.TilausID)</td>
            <td>@Html.DisplayFor(modelItem => item.Asiakkaat.Nimi)</td>
            <td>@Html.DisplayFor(modelItem => item.Toimitusosoite)</td>
            <td>@Html.DisplayFor(modelItem => item.Postitoimipaikat.Postinumero)</td>
            <td>@Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)</td>
            <td>@Html.DisplayFor(modelItem => item.Tilauspvm)</td>
            <td>@Html.DisplayFor(modelItem => item.Toimituspvm)</td>
            <td>
                @Html.ActionLink("Muokkaa", "Edit", new { id = item.TilausID }) |
                @*   @Html.ActionLink("Details", "Details", new { id=item.TilausID }) | *@
                @Html.ActionLink("Poista", "Delete", new { id = item.TilausID })
            </td>
        </tr>
    }

</table>
